! {{scheme-name}}
! Scheme: {{scheme-author}}

#define base00 #{{base00-hex}}
#define base01 #{{base01-hex}}
#define base02 #{{base02-hex}}
#define base03 #{{base03-hex}}
#define base04 #{{base04-hex}}
#define base05 #{{base05-hex}}
#define base06 #{{base06-hex}}
#define base07 #{{base07-hex}}
#define base08 #{{base08-hex}}
#define base09 #{{base09-hex}}
#define base0A #{{base0A-hex}}
#define base0B #{{base0B-hex}}
#define base0C #{{base0C-hex}}
#define base0D #{{base0D-hex}}
#define base0E #{{base0E-hex}}
#define base0F #{{base0F-hex}}

! special
*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

! black
*.color0:       base04
*.color8:       base04

! red
*.color1:       base08
*.color9:       base08

! green
*.color2:       base0B
*.color10:      base0B

! yellow
*.color3:       base0A
*.color11:      base0A

! blue
*.color4:       base0D
*.color12:      base0D

! magenta
*.color5:       base0E
*.color13:      base0E

! cyan
*.color6:       base0C
*.color14:      base0C

! white
*.color7:       base05
*.color15:      base05
